﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">ESTO ES UN EJEMPLITO PARA USAR GITLAB.</a>.</p>
    <p>Learn about AHORA CON ESTO HE REALIZADO UN CAMBIO NUEVO.</p>
</div>
